target/
!.mvn/wrapper/maven-wrapper.jar
/cp_debug_resources/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-checkstyle

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Operating System ###
HELP.md
.DS_Store
Thumbs.db
